body{
    color: white;
    font-family: sans-serif;
}
#particles-js{
   background: blue;
   height: 400px; 
}
#welcome{
    padding: 2em;
    border: 2px;
    position: absolute;
    top: 100px;
    left: 50px;
}
